<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://d3m9l0v76dty0.cloudfront.net/system/photos/652951/large/be175a520ca553f434c16ba079516b96.jpg">
    </div>
    
    {{>footer}}
</body>

</html>